{% extends 'cars/base.html' %}

{% block content %}

<div>
<h1>{{ title }}</h1>

<form action="{% url 'add_page' %}" method="post">
    {% csrf_token %} <!--Защищает от CSRF аттак-->

    <div class="form-error">{{ form.non_field_errors }}</div>

    <!--Чтобы не дублировать код прописываем цикл:-->
    {% for f in form %}
    <p><label class="form-label" for="{{ f.id_for_label }}">{{ f.label }}: </label>{{ f }}</p>
    <div class="form-error">{{ f.errors }}</div>
    {% endfor %}

    <button type="submit">Добавить</button>
</form>

</div>

{% endblock content %}