{% load static %}
{% load cars_tags %} <!--Загрузка тегов-->
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>{{ title }}</title>
    <link type="text/css" href="{% static 'cars/css/styles.css' %}" rel="stylesheet">
    <meta http-equiv="Content-Type" content="text/html">
    <link type="text/css" href="{% static 'cars/css/reset.css' %}" rel="stylesheet">
    <link href="{% static 'cars/images/logo/logo.png' %}" rel="shortcut icon">
</head>
<body>

{% block mainmenu %}
<header>
    <!--Nav-->
    <nav class="nav">
        <div class="nav-list">
            <ul class="nav-items">
                <li class="nav-logo"><a href="{% url 'home' %}">
                    <div class="logo-img"></div>
                </a></li>
                {% for m in menu %}
                <li class="nav-item"><a class="nav-link" href="{% url m.url_name %}">{{ m.title }}</a></li>
                {% endfor %}
            </ul>
        </div>
        <div class="login">
            <ul class="nav-items">
                <li class="nav-item"><a class="nav-link" href="{% url 'register' %}">Регистрация</a></li>
                <li class="nav-item"><a class="nav-link" href="{% url 'login' %}">Вход</a></li>
            </ul>
        </div>
    </nav>
</header>

<div class="container">

        <h1 class="main-h1"></h1>
        <!--Sidebar слева-->
        <div class="main-nav">
            <ul class="main-nav-items">

                {% if cat_selected == 0 %}
                    <li class="selected">Все категории</li>
                {% else %}
                    <li class="main-nav-item"><a class="main-nav-link" href="{% url 'home' %}">Все категории</a></li>
                {% endif %}

                {% for c in cats %}
                    {% if c.cars__count > 0 %}
                        {% if c.pk == cat_selected %}
                            <li class="selected">{{ c.name }}</li>
                        {% else %}
                            <li class="main-nav-item"><a href="{{ c.get_absolute_url }}" class="main-nav-link">{{ c.name }}</a></li>
                        {% endif %}
                    {% endif %}
                {% endfor %}

            </ul>
        </div>

        {% endblock mainmenu %}

    <!--content-->
    <div class="content">
        {%block content%}
        {% endblock content %}
        {% if page_obj.has_other_pages %}
        <nav class="list-pages">
            <ul>
                {% if page_obj.has_previous %}
                <li class="page-num">
                    <a href="?page={{ page_obj.previous_page_number }}">&lt;</a>
                </li>
                {% endif %}

                {% for p in paginator.page_range %}
                {% if page_obj.number == p %}
                    <li class="page-num page-num-selected">{{ p }}</li>
                {% else %}
                    <li class="page-num">
                        <a href="?page={{ p }}">{{ p }}</a>
                    </li>
                {% endif %}
                {% endfor %}

                {% if page_obj.has_next %}
                <li class="page-num">
                    <a href="?page={{ page_obj.next_page_number }}">&gt;</a>
                </li>
                {% endif %}
            </ul>
        </nav>
        {% endif %}
    </div>
</div>

<!--footer-->
<footer class="footer">
    <p class="footer-text">&copy; Copyright 2022, Krasnoyarsk</p>
</footer>

</body>
</html>