{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ title }}</title>
    <link type="text/css" href="{% static 'cars/css/styles.css' %}" rel="stylesheet">
    <meta http-equiv="Content-Type" content="text/html">
    <link type="text/css" href="{% static 'cars/css/reset.css' %}" rel="stylesheet">
    <link href="{% static 'cars/images/logo/logo.png' %}" rel="shortcut icon">
</head>
<body>

    {% block mainmenu %}
    <header>
        <!--Nav-->
        <nav class="nav">
            <div class="nav-list">
                <div class="logo-wrap"><img class="nav-logo" src="static/cars/images/logo/logo.png" alt="logo"></div>
                <ul class="nav-items">
                    {%for m in menu%}
                        <li class="nav-item"><a class="nav-link" href="#!">{{ m }}</a></li>
                    {% endfor %}
                </ul>
            </div>
            <div class="login">
                <ul class="nav-items">
                    {% for l in login %}
                        <li class="nav-item"><a class="nav-link" href="#!">{{ l }}</a></li>
                    {% endfor %}
                </ul>
            </div>
        </nav>
    </header>

    <section class="main">
        <h1 class="main-h1"></h1>
        <!--Sidebar слева-->
        <div class="main-nav">
            <ul class="main-nav-items">
                <li class="main-nav-item"><a class="main-nav-link" href="#!">Все категории</a></li>
                <li class="main-nav-item"><a class="main-nav-link" href="#!">Легковые автомобили</a> </li>
                <li class="main-nav-item"><a class="main-nav-link" href="#!">Джипы</a> </li>
                <li class="main-nav-item"><a class="main-nav-link" href="#!">Микроавтобусы</a> </li>
                <li class="main-nav-item"><a class="main-nav-link" href="#!">Грузовые автомобили</a> </li>
                <li class="main-nav-item"><a class="main-nav-link" href="#!">Автобусы</a> </li>
            </ul>
        </div>
    {% endblock mainmenu %}
        <!--content-->
        {%block content%}
        {% endblock content %}
    </section>

    <!--footer-->
    <footer class="footer">
        <p class="footer-text">&copy; Copyright 2022, Krasnoyarsk</p>
    </footer>

</body>
</html>