{% extends 'cars/base.html' %}

{% block content %}
<div class="content">
    <ul class="content-blocks">
        {% for p in posts %}
            <li class="content-block">
                <div class="block-cat">
                    <p>Категория: Легковые автомобили</p>
                </div>
                <div class="block-desc">
                    <div class="desc-image">
                        <img class="desc-img" src="static/cars/images/content/passenger_cars/vaz-1111.jpg">
                    </div>
                    <div class="desc-wrap">
                        <h2 class="block-title">{{ p.title }}</h2>
                        <p class="block-text">{{ p.content|truncatewords:50 }}</p>
                    </div>
                </div>
                <div class="block-button">
                    <a class="block-btn" href="#!">Читать пост</a>
                </div>
            </li>
        {% endfor %}
    </ul>
</div>
{% endblock content %}
